
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>onVite</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

  </head>

  <body>
<nav>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Title</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li class="active"><a href="about.html">About</a></li>
            <li class="active"><a href="contactus.html">Contact</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>

          </form>
        </div><!--/.navbar-collapse -->

      </div>
    </div>
  </nav>
<div class="contact_us">
<div class="row clearfix">
        <div class="col-md-12 column">
          <form action="#" method=""role="form">
            <div class="form-group">
               <label for="exampleInputEmail1">Full Name</label><input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group">
               <label for="exampleInputPassword1">Email Address</label><input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
               <label for="exampleInputFile">Message</label><textarea class="form-control" rows="4"></textarea>
            </div>
           <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
</div>
      <hr>

      <footer class="foo">
      <ul class="foot">
            <li class="line"><a href="#">Home</a></li>
            <li class="line"><a href="#about">About</a></li>
            <li class="line"><a href="#contact">Contact</a></li>
      </ul>
        <p>&copy; Company 2013</p>
      </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>