<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="AccountEntities" connectionString="metadata=res://*/Models.AccountEntity.csdl|res://*/Models.AccountEntity.ssdl|res://*/Models.AccountEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-VR1PM;initial catalog=Dev;user id=sa;password=Essence1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
