@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="topinfo">

<div class="container">

  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-6 column">
    
          <h2 class="text-center">
            Know whos joining the fun
          </h2>
            <br />
          <p class="text-center">
            <b>Easy</b> to use. Keeps you <b>organized</b>. Stay on top of your event!
              <br />
              eRespond® is designed to be fast, organized, and simple. It can keep track on who you invited, who replied and with what answer, and can sort by groups! The possibilities of eRespond® is only limited by what you desire.  
          </p>
        </div>
        <div class="col-md-6 column">
          <img src="http://fakeimg.pl/400x400/?text=App" class="img-rounded">
        </div>

      </div>
    </div>
  </div>
</div>
</div>