@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <span class="firstlogo" id="logo">eRespond­<sup class="trade">­®</sup></span>­

    <h2>Revolutionary way to send RSVP invites to anyone and everyone</h2>
        
      </div>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <div class="row>"
        <div class="col-md-4">
        <!-- CONTENT -->
        </div>
        <div class="col-md-4">
 <!-- CONTENT -->
       </div>
        <div class="col-md-4">
 <!-- CONTENT -->
        </div>
      </div>


    </div> <!-- /container -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="topinfo">
      <div class="container">
      <p class="intro"><br />"eRespond­® takes a daunting task and makes it simple. With a simple interface, eRespond­® gives you the tools and resources to get your event going"<br /><br />"Get organized faster than you can think. Let this app do all the hard work for you so you can focus on the important tasks"</p>
  <div class="img"> <img src="http://fakeimg.pl/400x400/?text=App" > </div>
  <div class="clear"></div>
    </div>
</div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
        <!-- CONTENT -->
        </div>
        <div class="col-md-4">
 <!-- CONTENT -->
       </div>
        <div class="col-md-4">
 <!-- CONTENT -->
        </div>
      </div>

    </div> <!-- /container -->
<br /><br /><br /><br /><br />

    <div class="jumbotron">
      <div class="container">
      <img src="http://fakeimg.pl/200x400/?text=Example1"/>
      <img src="http://fakeimg.pl/200x400/?text=Example2"/>
      <img src="http://fakeimg.pl/200x400/?text=Example3"/></div>
    </div>


    <div class="lastinfo">
      <div class="container">
<p>Don't wait, get started on your way to invite your friends and family</p>
<a href="/Account/create"><button type="button" class="btn btn-primary btn-lg">SignUp!</button></a>
      </div>
    </div>

