@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @Styles.Render("~/Content/Pixelkit")
<h2>Services</h2>
<div class="topinfo">
<div class="container">
<!--pricing box-->
                <div class="pricing_box">
                    <ul class="clearfix">
                        <li class="price_col price_col_green ">
                            <!--pricing item-->
                            <div class="price_item boxed">
                                <div class="price_col_head">
                                    <span class="badge"></span>
                                    <span class="price">FREE</span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Alpha</strong>
                                            <div class="line"></div>
                                        </div>
                                        <ul>
                                            <li>Everything</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                     <div class="sign_up"><a href="/Account/create" class="btn btn-green"><span>Sign up</span></a></div>
                                </div>
                            </div>
                            <!--/ pricing-item -->
                        </li>

                        <li class="price_col price_col_red col_active">
                            <div class="price_item boxed">
                                <div class="price_col_head">
                                    <span class="badge"></span>
                                    <span class="price">FREE</span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Beta</strong>
                                            <div class="line"></div>
                                        </div>
                                        <ul>
                                            <li>Everything</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                    <div class="sign_up"><a href="#" class="btn btn-red"><span>Soon!</span></a></div>
                                </div>
                            </div>
                        </li>

                        <li class="price_col price_col_red ">
                            <div class="price_item boxed">
                                <div class="price_col_head">
                                    <span class="badge"></span>
                                    <span class="price">FREE</span>
                                </div>
                                <div class="price_col_body clearfix">
                                    <div class="price_body_inner">
                                        <div class="price_body_top">
                                            <strong>Release</strong>
                                            <div class="line"></div>
                                        </div>
                                        <ul>
                                            <li>Everything</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="price_col_foot">
                                     <div class="sign_up"><a href="#" class="btn btn-red"><span>Not Yet</span></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--/pricing box-->

</div>
    </div>